Vous venez de demander la régénération de votre mot de passe
<a href="{{ url('_remembermember', {'email': user.email, 'token': user.token}) }}">
    suivez ce lien pour obtenir un nouveau mot de passe
</a>
