Vous venez de demander la régénération de votre mot de passe.<br/>
Vos identifiants sont :<br>
<ul>
    <li><b>Identifiant :</b> {{ member.username }}</li>
    <li><b>Mot de passe :</b> {{ password }}</li>
</ul>

Vous pouvez vous connecter au site avec ceux-ci.
