## Application files
app/config.php
bin/*
deps.lock
vendor/
tmp/*
web/

.gitignore

# IDE files
  # Netbeans
nbproject/
  # Eclipse
.buildpath
.project
.settings/
  # SublimeText
*.sublime-*

# Backup files
*.*~

# Vagrant
Vagrantfile
.vagrant
