## Application files
app/config.php
bin/*
deps.lock
vendor/
node_modules/
tmp/*

# IDE files
  # Netbeans
nbproject/
  # Eclipse
.buildpath
.project
.settings/
  # SublimeText
*.sublime-*

# Backup files
*.*~

# Vagrant
Vagrantfile
.vagrant
