<blockquote class="pull-right">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
	<small>Someone famous in <cite title="">Body of work</cite></small>
</blockquote>