{% extends "layout.html.twig" %}

{% block content %}
  <div class="row-fluid">
	<div class="span3">
	  <img src="{{ app.request.basepath }}/img/aperophp.gif" />
	</div><!--/span-->
	<div class="span9">
	  <div class="hero-unit">
	    <h1>Apéro PHP</h1>
	    <p>Les apéroPHPs sont ouverts à tous (de débutants à confirmés), venez discuter du PHP mais pas que de PHP ! Boissons alcoolisées ou non, repas ou simple apéro, c'est à vous de le définir...</p>
	    <p><a class="btn btn-primary btn-large">Organiser un apéro &raquo;</a></p>
	  </div>
	  <div class="row-fluid">
	    <div class="span4">
	      <h5>Apéro</h5>
	      <h2>Lyon</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
        </div>
	    <div class="span4">
	      <h5>Conférence</h5>
	      <h2>Paris</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
	    </div>
	    <div class="span4">
	      <h5>Apéro</h5>
	      <h2>Lyon</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
	    </div>
	  </div><!--/row-->
	  <div class="row-fluid">
	    <div class="span4">
	      <h5>Apéro</h5>
	      <h2>Lyon</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
        </div>
	    <div class="span4">
	      <h5>Conférence</h5>
	      <h2>Paris</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
	    </div>
	    <div class="span4">
	      <h5>Apéro</h5>
	      <h2>Lyon</h2>
	      <h3>29 janvier 2012</h3>
	      <ul>
	        <li>Lieu : Café chose</li>
	        <li>à 19h</li>
	      </ul>
	      <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
	    </div>
	  </div><!--/row-->
	</div><!--/span-->
  </div>
{% endblock %}  