<?php

$app['debug'] = true;

// Sqlite
$app['db.options'] = array(
    'driver' => 'pdo_sqlite',
    'path'   => __DIR__.'/../cache/app.db',
);

// Translation
$app['translator.messages'] = array();

// MySQL
/*
$app['db.options'] = array(
    'driver'    => 'pdo_mysql',
    'host'      => 'localhost',
    'dbname'    => 'aperophp',
    'user' 	    => '',
    'password'  => '',
);
*/

// Secret string
$app['secret'] = 'change_me_im_not_secret';
