
/***************************************
 *     General reset
 **************************************/

/* Reset styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}

/* remember to define focus styles! */
:focus {
  outline:none;
}
body {
  line-height:1;
  color:black;
  background:white;
}
ol, ul {
  list-style:none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
th, td {
  vertical-align:top;
}
blockquote:before, blockquote:after, q:before, q:after {
  content:"";
}
blockquote, q {
  quotes:"" "";
}

/***************************************
 *     Global
 **************************************/

html, body {
  margin:0;
  padding:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:rgb(75,75,77);
  background-color: #F0F0F2;
}
html {
  font-size:100%;
}
body {
  font-size:0.7em;
}
a:link,
a:visited {
  color:rgb(234,71,42);
  text-decoration:none;
}
a:hover,
a:active {
  color:rgb(234,71,42);
  text-decoration:underline;
}
a img {
  border:none;
  text-decoration:none;
}
strong {
  font-weight:bold;
}
p {
  line-height:1.5em;
  margin-bottom:10px;
}
.clearleft {
  clear:left;
}
.clearright {
  clear:right;
}
.clearboth {
  clear:both;
}
#cs_left {
  float:left;
  width:480px;
}
#cs_right {
  width:480px;
  float:right;
  padding-top:20px;
}
#cs_container {
  width:960px;
  xbackground-color:red;
  margin:0 auto 0;
  padding-top:250px;
}
#newsletter {
  position:relative;
  background:url(../images/cs_field.png) no-repeat center top;
  width: 386px;
  height: 40px;
  padding:8px 0
}
#newsletter .email {
  position:absolute;
  left:10px;
  top:10px;
  width: 280px;
  color:#575757;
  border:none;
  background:none
}
#newsletter .submit {
  position:absolute;
  right:2px;
  top:2px;
  width:80px;
  height:36px;
  cursor:pointer;
  outline:none;
  border:none;
  background:none
}
#infos {
  display:block;
  height:15px;
  padding-left:10px;
}
#cs_container .error_list {
  color:red;
  text-align:left !important;
  margin-left:0;
}
#cs_container .notice {
  color:green;
}
#social {
  text-align:center;
  margin-top:50px;
}
#social .elements {
  margin-left:30px;
}
#cs_footer {
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  line-height:25px;
  text-align:center;
  background-color:#3B2713;
  color:#fff;
}
#cs_footer a {
  color:#F0F0F2;
}