@font-face {
    font-family: 'ComfortaaThin';
    src: url('../fontes/comfortaa/Comfortaa_Thin-webfont.eot');
    src: url('../fontes/comfortaa/Comfortaa_Thin-webfont.eot?iefix') format('eot'),
         url('../fontes/comfortaa/Comfortaa_Thin-webfont.woff') format('woff'),
         url('../fontes/comfortaa/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('../fontes/comfortaa/Comfortaa_Thin-webfont.svg#webfontVBeosr1k') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ComfortaaRegular';
    src: url('../fontes/comfortaa/Comfortaa_Regular-webfont.eot');
    src: url('../fontes/comfortaa/Comfortaa_Regular-webfont.eot?iefix') format('eot'),
         url('../fontes/comfortaa/Comfortaa_Regular-webfont.woff') format('woff'),
         url('../fontes/comfortaa/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('../fontes/comfortaa/Comfortaa_Regular-webfont.svg#webfont6RyPCQEL') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fontes/comfortaa/Comfortaa_Bold-webfont.eot');
    src: url('../fontes/comfortaa/Comfortaa_Bold-webfont.eot?iefix') format('eot'),
         url('../fontes/comfortaa/Comfortaa_Bold-webfont.woff') format('woff'),
         url('../fontes/comfortaa/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('../fontes/comfortaa/Comfortaa_Bold-webfont.svg#webfontw5bWgOKo') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#161616;
  background-image:url(../images/diagonals2.gif);
  background-repeat: repeat;
}
html {
  font-size:100%;
}
body {
  font-size:1em;
}
p {
  line-height:1.5em;
  text-align:justify;
  margin-bottom:10px;
}
ul {
  list-style-type:disc;
  margin-left:20px;
  line-height:20px;
  margin-bottom:10px;
}
a:link,
a:visited {
  color:#3081dd;
  text-decoration:none;
}
a:hover,
a:active {
  color:##59689A !important;
  text-decoration:none;
}
a img {
  border:none;
  text-decoration:none;
}
.spacer {
  border-top:1px solid #dedede;
  border-bottom:1px solid #f9f9f9;
  border-left:1px solid #dedede;
  border-right:1px solid #f9f9f9;
  margin-top:30px;
  margin-bottom:30px;
  height:0px;
}
.alignleft {
  text-align:left;
}
.alignright {
  text-align:right;
}
.aligncenter {
  text-align:center;
}
.clearleft {
  clear:left;
}
.clearboth {
  clear:both;
}
.clearright {
  clear:right;
}
h2 {
  margin-bottom:10px;
}

#header {
  margin-top:20px;
  margin-bottom:50px;
}
#header h3 {
  text-align:left;
  margin-top:50px;
  margin-bottom:20px;
  font-size:24px;
  line-height:1.5;
}
#container {
}
#footer {
  padding-top:10px;
  margin-bottom:10px;
}

.color_purple {
  color:#A16FAE;
}
.color_red {
  color:#E5191E;
}
.color_blue {
  color:#52C3EF;
}

.apero_light {
  background-color:rgb(230,230,230);
  padding:15px 0;
  margin-bottom:30px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

border:1px solid rgb(210,210,210);
}
.apero_light .informations h2 {
  font-size:18px;
  font-weight:normal;
  margin-top:10px;
  margin-bottom:10px;
}
.apero_light .informations h2,
.apero_light .informations p {
  margin-left:20px;
}
.apero_light .date {
  font: 17px/100% ComfortaaRegular, Arial, Helvetica, sans-serif;
  text-align:center;
  width:75px;
  background-color:#59689A;
  color:#fff;
  margin-left:5px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-radius:10px;
}
.apero_light .date span {
  display:block;
}
.apero_light .date .month {
  font-size:18px;
  padding-top:6px;
  text-transform:uppercase;
}
.apero_light .date .time {
  background-color:#59689A;
  color:#FFFFFF;
  font-size:18px;
  line-height:18px;
  margin:3px 0 0;
  padding:5px;
  -moz-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}
.apero_light .date .day {
  font-size:30px;
  line-height:20px;
  padding-top:6px;
  font: 36px/100% ComfortaaBold, Arial, Helvetica, sans-serif;
}

.apero_light .buttons {
  padding-top:25px;
}
.apero_light .buttons a, .apero_light  .buttons a:visited {
   margin-right:5px;
   margin-left:20px;
   color:#fff
}

.apero_full {
  margin-top:30px;
}
.apero_full .description {
  margin-bottom:20px;
}
.apero_full h2 {
  margin-bottom:20px;
}
#map {
  width:100%;
  height:300px;
  padding:2px;
  border:5px solid #DEDEDE;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
}

.apero_micro {
  line-height:20px;
  margin-bottom:10px;
}
.apero_micro .date {
  width:150px;
  display:inline-block;
}
.apero_micro .actions {
  text-align:right;
  width:150px;
  display:inline-block;
}
.apero_micro .actions a {
  padding:0 2px;
}
.apero_micro .location {
  width:425px;
  display:inline-block;
}

.people_card_mini {
  margin-top:10px;
  padding:10px;
  position:relative;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  margin-bottom:30px;
  border:1px solid rgb(210,210,210);
}
.people_card_mini .toggle {
  float:right;
  display:block;
  padding-top:26px;
  padding-bottom:26px;
  padding-left:3px;
  padding-right:3px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background-color:#F0F0F2;
}
.people_card_mini .toggle:hover {
  background-color:#FFF;
}
.people_card_mini .avatar {
  float:left;
  margin-right:10px;
  padding:2px;
  border:1px solid #DEDEDE;
  background-color:#fff;
}
.people_card_mini p {
  margin-bottom:0;
  line-height:25px;
}
.people_card_mini .name {
  margin-top:5px;
}
.people_card_mini .more {
  padding:0 10px 10px 10px;
  margin-top:10px;
  width:335px;
  display:none;
  z-index:99999;
  border-left:1px solid rgb(210,210,210);
  border-right:1px solid rgb(210,210,210);
  border-bottom:1px solid rgb(210,210,210);
  position:absolute;
  -moz-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  background-color:rgb(230,230,230);
}
.people_card_mini .social img {
  vertical-align:middle;
  margin-right:5px;
}
.odd,
.even {
  background-color:rgb(230,230,230);
}

.btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 17px/100% ComfortaaRegular, Arial, Helvetica, sans-serif;
	padding: .25em 1em .30em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	position: relative;
	top: 1px;
}

.btn_blue {
	color: #fef4e9;
    border: 0;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#8a9fe0), to(#59689a));
	background: -moz-linear-gradient(top,  #8a9fe0,  #59689a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9fe0', endColorstr='#59689a');
}
.btn_blue:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#8a9fe0), to(#59689a));
	background: -moz-linear-gradient(top,  #8a9fe0,  #59689a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9fe0', endColorstr='#59689a');
}
.btn_blue:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#59689a), to(#8a9fe0));
	background: -moz-linear-gradient(top,  #59689a,  #8a9fe0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#59689a', endColorstr='#8a9fe0');
}

#logout {
  text-align:right;
}
#logout img {
  margin-left:10px;
  vertical-align:middle;
}

/*********** FORM **********/
fieldset h2,
fieldset legend {
  padding:3px 15px 3px 15px;
  font: 17px/100% ComfortaaRegular, Arial, Helvetica, sans-serif;
  margin-left:10px;
  width:auto;
  color:#fff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8a9fe0), to(#59689a));
  background: -moz-linear-gradient(top,  #8a9fe0,  #59689a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9fe0', endColorstr='#59689a');
}
fieldset {
  border:1px solid #59689a;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  margin-bottom:20px;
  padding:15px 10px 0 10px;
}
form .errors input,
form .errors select,
form .errors textarea {
  border:1px solid #B43F3F;
}
form .error {
  display:inline-block;
}
form ul.error_list {
  margin:0;
  margin-bottom:7px;
  margin-left:187px;
  color:#B43F3F;
  border:none;
  xfont-weight:bold;
}
form ul.error_list li {
  padding:4px;
  padding-left:5px;
  list-style:none;
  color:#B43F3F;
}
form .form_row label {
  display:block;
  padding:5px 1em 3px 0;
  float:left;
  text-align:right;
  width:180px;
  font-weight:bold;
  cursor:pointer;
}
form.external .form_row {
  clear:both;
  padding:0.8em 1em 0.8em 1em;
  margin-bottom:2px;
}
form .last {
  margin-bottom:20px;
}
form .form_row .content {
  display:inline-block;
}
form .form_row .help {
  padding-left:14em;
  color:#aaa;
}



/*********** FLASH **********/
#flash
{
  z-index:99999;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
#flash .notice,
#flash .error,
#flash .warning,
#flash .info {
  line-height:50px;
  padding-left:100px !important;
  color:rgb(100,100,100);
  font-size:1.5em;
}
#flash .notice
{
  background:url(..//images/32x32/tick.png) no-repeat 40px 10px;
  border-bottom:1px solid #9ADF8F;
  background-color:#D5FFCE;
}
#flash .error
{
  background:url(../images/32x32/cross.png) no-repeat 40px 10px;
  border-bottom:1px solid #DF8F8F;
  background-color:#FFCECE;
}
#flash .info
{
  background:url(../images/32x32/information.png) no-repeat 40px 10px;
  border-bottom:1px solid #A2B4EE;
  background-color:#DBE3FF;
}
#flash .warning
{
  background:url(../images/32x32/error.png) no-repeat 40px 10px;
  border-bottom:1px solid #E6DB55;
  background-color:#FFFBCC;
}

#menu {
  font-family:ComfortaaBold;
  font-size:1.3em;
  list-style-type:none;
  margin-left:0;
  line-height:15px;
}
#menu li {
  float:left;
  display:inline;
  margin-right:10px;
}
#menu li a {
  display: block;
  padding:5px 10px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
#menu li a:hover,
#menu li a:active {
  background-color:#59689a;
  color:#fff;
}
#menu li a.current,
#menu li a.current:hover,
#menu li a.current:active {
  background-color:#59689a;
  color:#fff;
}
#logo_afup {
  text-align:center;
  padding-bottom:10px;
}

.copyright {
  font-size:0.8em;
}