<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Apéro PHP</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/apero.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Apéro PHP</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Organiser un apéro</a></li>
            <li><a href="#contact">Liste des apéros</a></li>
          </ul>
          <p class="pull-right">Connecté en tant que <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
          <img src="img/aperophp.gif" />

      </div>
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h1>Apéro PHP</h1>
          <p>Les apéroPHPs sont ouverts à tous (de débutants à confirmés), venez discuter du PHP mais pas que de PHP !
Boissons alcoolisées ou non, repas ou simple apéro, c'est à vous de le définir...</p>
          <p><a class="btn primary large">Organiser un apéro &raquo;</a></p>
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <div class="span5 apero">
              <h5>Apéro</h5>
            <h2>Lyon</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
          <div class="span5 conference">
              <h5>Conférence</h5>
            <h2>Paris</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
          <div class="span5 apero">
              <h5>Apéro</h5>
            <h2>Lyon</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
        </div>
        <hr>
        <!-- Example row of columns -->
        <div class="row">
       <div class="span5 apero">
              <h5>Apéro</h5>
            <h2>Lyon</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
          <div class="span5 conference">
              <h5>Conférence</h5>
            <h2>Paris</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
          <div class="span5 apero">
              <h5>Apéro</h5>
            <h2>Lyon</h2>
            <h3>29 janvier 2012</h3>
             <ul>
                 <li>Lieu : Café chose</li>
                 <li>à 19h</li>
             </ul>
            <p><a class="btn" href="#">Voir le détail &raquo;</a></p>
          </div>
        </div>
        <footer>
          <p>&copy; AFUP 2012</p>
        </footer>
      </div>
    </div>
  </body>
</html>
