{% extends "layout.html.twig" %}

{% block content %}
<div class="row-fluid">
    <div class="span3">
        <img src="{{ app.request.basepath }}/img/aperophp.gif" />
    </div>
    <div class="span9">
        <div class="hero-unit">
            <h1>Ap&eacute;ro PHP</h1>
            <p>Les ap&eacute;roPHPs sont ouverts &agrave; tous (de d&eacute;butants &agrave; confirm&eacute;s), venez discuter du PHP mais pas que de PHP ! Boissons alcoolis&eacute;es ou non, repas ou simple ap&eacute;ro, c'est &agrave; vous de le d&eacute;finir...</p>
            <p><a href="{{ url('_newdrink') }}" class="btn btn-primary btn-large">Organiser un ap&eacute;ro &raquo;</a></p>
        </div>
        <div class="row-fluid">
            {% for drink in drinks %}
                {% include 'drink/_preview.html.twig' with { 'drink': drink } %}
            {% endfor %}
        </div><!--/row-->
    </div><!--/span-->
</div>
{% endblock %}
