<h2>Participants <small>S'inscrire</small></h2>
<table>
    {% for participation in participations %}
        <tr>
            <td>{{ participation.user.email|replace({'@': '[at]'}) }}</td>
            <td>{{ participation.percentage }}</td>
        </tr>
    {% endfor %}
</table>
