<h2>Participants 
<a class="btn pull-right" data-toggle="modal" href="#participateModal" >S'inscrire</a>
<div class="modal hide fade" id="participateModal">
{% include 'drink/participate.html.twig' %}
</div></h2>
<table>
    {% for participation in participations %}
        <tr>
            <td>{{ participation.user.email|replace({'@': '[at]'}) }}</td>
            <td>{{ participation.percentage }}</td>
        </tr>
    {% endfor %}
</table>
